*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(/images/FondoAdmin.jpg);
}
.Nuser{
    padding: 170px 0 70px;
    font-size: 64px;
    text-align: center;
}
.cabeza-tabla{
    margin: 10px;
    display: flex;
    gap:25px;
    justify-content: flex-end;
}
.ContenidoTabla{
    width: 100%;
    margin: 25px 0;
    font-size: 16px;
}
.ContenidoTabla thead tr{
    background-color: #90B4F0;
    color: white;
    text-align: left;
    font-weight: bold;
}
.ContenidoTabla tbody tr{
    border-bottom: 1px solid #dddddd;
    background-color: white;
    text-align:left;
}

.ContenidoTabla th,
.ContenidoTabla td {
    padding: 12px 15px;
}
.ContenidoTabla td.IDC{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btnBorrar{
    width: 80%;
    height: max-content;
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    border-style: none;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
}

.btnBorrar:hover{
    background-color: #E1071A;
}
#Modalcon{
    width: 120%;
    background-color: rgb(243, 243, 243);
}
#Confirmacion {
    text-align: center;
}

#modalP {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.btn-confirmar-actualizacion{
    background-color: #0d6efd;
    margin: 15px 0px;
    border-radius: 15px;
    padding: 7px 10px;
    border-style: none;
    color: white;
}
.btn-conf-borrar{
    background-color: #E1071A;
    margin: 15px 0px;
    border-radius: 15px;
    padding: 7px 10px;
    border-style: none;
    color: white;
}
.btn-conf-borrar:disabled{
    background-color: rgba(253, 142, 142, 0.514);
}
@media screen and (min-width: 768px) { 
    #Confirmacion:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
        }
    }